<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">
                    At Foxtail, we know that the best custom bouquets come from local florist shops.</h2>
                <!-- <hr class="light"> -->
                <p>
                    But as customers move online, they spend more time on your website than your shop.
                    Let's meet them where they are, and bring a delightful custom bouquet experience to your website. 
                </p>
                <h2>

                <p>                    
                    Foxtail enhances your website by empowering your customers to build their own bouquets online.
                    Our creative tools for custom boquets are easy to add on to your website—no technology experience required.
                </p>
            </div>
        </div>
    </div>
</section>