<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">
                    At Foxtail, we know that the best bouquets come from local florist shops.</h2>
                <!-- <hr class="light"> -->
                <p>
                    But as customers move online, they spend more time on your website than in your shop.
                    Let's meet them where they are, and bring a delightful bouquet buying experience to your website. 
                </p>
                <h2>

                <p>                    
                    Foxtail enhances your website by making it easy customers to give special requests when buying flowers online.
                    Our creative tools for custom bouquets are easy to add to your website—no technology experience required.
                </p>
            </div>
        </div>
    </div>
</section>