<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Creative Tools for Custom Bouquets</h1>
            <hr>
            <h2>Empower clients to build their own bouquet in your online shop.</h2>
            <br/>
            <span>
                <a href="#sign-up" class="btn btn-default btn-xl page-scroll">Sign up for early access</a>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </span>
        </div>
    </div>
</header>