<style>
    .content {
        padding: 20px;
    }

    .img-container img {
        max-width: 100%;
        /* Ensures the image doesn’t exceed the width of its container */
        /* height: auto; */
        /* Maintains the aspect ratio */
    }
</style>

<section id="portfolio">
    <div class="container-fluid">
        <div class="row text-center">
            <h2>Products</h2>
            <p>Our products bring the custom bouquet experience online. We think it should be as delightful to order a personal arrangement online as it is in person.
            </p>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <a href="products/foxtail_bouquet_template" class="portfolio-box">
                    <div class="img-container">
                        <img src="img/portfolio/custom_bouquet_template.png" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Available Now
                            </div>
                            <div class="project-name">
                                Foxtail Bouquet Template
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="products/bouquet_designer" class="portfolio-box">
                    <div class="img-container">
                        <img src="img/portfolio/design_online.png" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Coming Soon
                            </div>
                            <div class="project-name">
                                Bouquet Designer
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>

</section>